.navlinks {
    background-color: var(--background2);
    padding: 10px;
    margin: 5px;
    color: white;
    text-decoration: none;
    border-radius: 10px;
}

.about{
    width: min(90%,600px);
    justify-content: center;
    margin: 10px auto 10px auto;
}

.title_content{
    padding: 15px;
    /* background-color: black; */
}