/dcfrontend/.DS_Store
/dcfrontend/.env
/dcfrontend/node_modules/

# React Router
/dcfrontend/.react-router/
/dcfrontend/build/


# Python
# ignore all pycache folders anywhere
__pycache__/

/instance_folder/