.password_div{
    display: flex;
    flex-direction: row;
    gap: 2px;
    flex-shrink: 0;
    border: 1px solid grey;
    border-radius: 3px;
}

.password_box{
    flex-grow: 1;
    border: none;
}

.visibility_button{
    flex-grow: 0;
    border: none;
    background: none;
}

.visibility_button:hover{
    background-color: wheat;
}