@keyframes slide_up{
    from {
        transform: translateY(5px);
        opacity: 0%;
    }
}

.root_navigation{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: white;
    z-index: 10;
    animation: slide_up 0.25s linear forwards;
}

.toggle{
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 20;
    /* background: radial-gradient(white, rgb(210, 210, 210) 90%); */
    background-color: var(--accent-background);
    color: white;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    border: none;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    /* box-shadow: 0px 0px 25px grey; */
}

.toggle:hover{
    background-color: var(--accent-background-hover) /*rgb(64, 111, 176)*/;
}