html{
  text-align: center;
  font-size: 11pt;
  /* font-family: monospace; */
  --background2: rgb(69, 94, 139);
  font-family: "Libertinus Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

body{
  margin: 0; 
}

@font-face {
  font-family: "Libertinus Mono";
  src: url("./assets/Libertinus_Mono/LibertinusMono-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

button{
  background-color: var(--background2);
  padding: 5px;
  color: white;
  border-radius: 5px;
  font-family: 'Libertinus Mono', monospace;
  font-size: 12pt;
  border: 2px solid white;
}

input{
  border-radius: 5px;
  border: 2px solid grey;
  background-color: whitesmoke;
  padding: 5px;
  font-family: 'Libertinus Mono', monospace;
  font-size: 12pt;
}

input:focus{
  outline: none;
}
